<div class="chatbox-container">
    <div class="chatbox-content">
        <header class="chatbox-header">
            <div class="chatbox-header__text">
                Chat app
            </div>
            <input type="button" 
                class="chatbox-box__logout-btn" 
                value="Log out"
                (click)="logout()">
        </header>
        <main id="chatbox-main">
            <div class="chatbox-messages">
                <div *ngFor="let msg of chatMessages" 
                    class="chatbox-message">
                    <div class="chatbox-message-container"
                        [ngClass]="{'logged-user': msg.isLoggedInUser}">
                        <div class="arrow-left"
                            *ngIf="!msg.isLoggedInUser">
                        </div>
                        <div class="chatbox-message__text">
                            {{ msg.message }}
                        </div>
                        <div class="arrow-right"
                            *ngIf="msg.isLoggedInUser">
                        </div>
                    </div>
                    <div class="chatbox-message-owner-container"
                        [ngClass]="{'logged-user': msg.isLoggedInUser}">
                        {{ msg.username }}
                    </div>
                </div>
            </div>
        </main>
        <footer class="chatbox-footer">
            <input type="text" 
                class="chatbox-input-field"
                [(ngModel)]="chatMessage"
                placeholder="Start a message">
            <input type="button" 
                class="chatbox-box__send-btn" 
                value="send"
                (click)="sendMessage()">
        </footer>
    </div>
</div>